.footer{
    border-top: 1px solid black;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    
}
.footer ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.footer ul li{
    padding: 0 15px;
}
/* ....................media query ................... */
@media (max-width: 600px){
    .footer{
        display: block;
        text-align: center;

    }
    .footer ul li{
        margin: 10px;
    }
    .footer ul{
        margin-top: 10px;
    }
}